<div id="blcMain">
  <div class="header">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#"> -->
        <img
          src="assets/logo.png"
          alt="Logo du site"
          width="300"
          height="100"
        />
        <!-- </a> -->
        <div id="blcHeaderRight">
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> -->
          <!-- <span class="navbar-toggler-icon"></span> -->
          <!-- </button> -->
          <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto"> -->
           
            <a class="nav-link" routerLink="/dashboardgestionnaire" [routerLinkActive]="['active']" *ngIf="lienTableauBord">Tableau de bord</a>
            <a class="nav-link" routerLink="/page-utilisateur" [routerLinkActive]="['active']" *ngIf="!lienTableauBord">Tableau de bord</a>

            <!-- </div>
          <!-- </div>
        </div>
        <div class="d-flex justify-content-end"> -->
          <button
            type="button"
            id="btnDeco"
            class="btn seDeconnecter btn-warning"
            (click)="onDeconnexion()"
          >
            Deconnexion
          </button>
          <!-- </div> -->
        </div>
      </div>
    </nav>
  </div>
  <h1 style="margin-top: -90px">Catégories de location</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="image-container text-center">
          
          <a href="" routerLink="/categorie-location/1"><img
            src="assets/AccueilPhoto/ordinateur.jpg"
            alt="ordinateur"
            class="img-fluid d-block"
            width="100"
            height="50"
          /> PC portable</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="image-container text-center">
          
          <a href="" routerLink="/categorie-location/4"><img
            src="assets/AccueilPhoto/salle1.jpg"
            alt="salle"
            class="img-fluid d-block"
            width="100"
            height="50"
          /> Salles</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="image-container text-center">
          
          <a href="" routerLink="/categorie-location/2"><img
            src="assets/AccueilPhoto/projecteur.jpg"
            alt="Video projecteur"
            class="img-fluid d-block"
            width="100"
            height="50"
          /> Vidéos Projecteurs</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="image-container text-center">
          
          <a href="" routerLink="/categorie-location/3"><img
            src="assets/AccueilPhoto/Casque VR.jpg"
            alt="casque VR"
            class="img-fluid d-block"
          /> Casque VR</a>
        </div>
      </div>
    </div>
  </div>
  <!--Footer-->

  <footer>
    <!-- <div class="row d-flex justify-content-around"> -->

    <div class="col-3"></div>
    <div class="col-6">
      <div class="d-flex justify-content-center">
        <a
          href="https://www.facebook.com/MetzNumSchool/"
          target="_blank"
          role="button"
          ><img
            class="footer-icons"
            src="assets/AccueilPhoto/facebook.png"
            width="50"
            height="50"
            alt="Lien vers Facebook"
        /></a>
        <br />

        <a
          href="https://www.instagram.com/accounts/login/?next=/metznumschool/"
          target="_blank"
          role="button"
          ><img
            class="footer-icons"
            src="assets/AccueilPhoto/instagram.png"
            width="50"
            height="50"
            alt="Lien vers Instagram"
        /></a>
        <a
          href="https://www.linkedin.com/school/metz-numeric-school/mycompany/"
          target="_blank"
          role="button"
          ><img
            class="footer-icons"
            src="assets/AccueilPhoto/linkedin.png"
            width="50"
            height="50"
            alt="Lien vers Twitter"
        /></a>
      </div>
    </div>
    <div class="col-3" style="color: white">
      <h5 style="font-size: bold">Information contact:</h5>
      <p>
        Metz Numeric School
        <br />
        86 rue aux arènes
        <br />
        57000 Metz
      </p>
      <p>
        <a href="">Mail:administrateur@metznumschool.fr</a>
        <br />
      </p>
    </div>

    <!-- </div> -->
  </footer>
</div>
