<div class="header">
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/logo.png" alt="Logo du site" width="300" height="100"/>
        </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link" aria-current="page" routerLink="/Accueil" [routerLinkActive]="['active']">Accueil</a>
            <a class="nav-link" routerLink="/page-gestionnaire']" [routerLinkActive]="['active']">Tableau de bord</a>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button  type="button" class="btn seDeconnecter btn-warning" [routerLink]="['connexion']">Deconnexion</button>
        </div>
      </div>
    </nav> 
</div>

    <h1>Notre matériel en location</h1>

<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="image-container text-center">
          <img src="assets/ordinateur.jpg" alt="ordinateur" class="img-fluid d-block">
          <figcaption  >PC portable</figcaption>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="image-container text-center">
          <img src="assets/salle.jpg" alt="salle" class="img-fluid d-block">
          <figcaption>Salles</figcaption>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="image-container text-center">
          <img src="assets/projecteur.jpg" alt="Video projecteur" class="img-fluid d-block">
          <figcaption>Vidéos Projecteurs</figcaption>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="image-container text-center">
          <img src="assets/Casque VR.jpg" alt="casque VR" class="img-fluid d-block">
          <figcaption>Casque VR</figcaption>
        </div>
      </div>
    </div>
  </div>
