<div class="container py-5 h-100" [ngSwitch]="codeRetour">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div>
        <div class="card-body p-5 text-center d-flex justify-content-center">
          <form *ngSwitchDefault
 class="d-flex flex-column" [formGroup]="formulaire"
              (ngSubmit)="onSubmit()"
              
              >
            <h1 class="fw-bold mb-2 mb-5" style="color: #fff">Réservation</h1>
            <br />

            <mat-form-field appearance="fill">
              <mat-label>N° de série: </mat-label>
              <input
                formControlName="numSerieLocation"
                placeholder="Numéro de série"
                required
                autofocus
                matInput
              />
              <mat-error>Le numéro de série est obligatoire</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Nom de la location: </mat-label>
              <input
                formControlName="nomLocation"
                placeholder="Nom de la location"
                required
                matInput
              />
              <mat-error
                >Le nom de la location est obligatoire (minimum 3
                lettres)</mat-error
              >
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Cadre d'utilisation : </mat-label>
              <mat-select formControlName="cadreUtilisation">
                <mat-option *ngFor="let cadre of listecadreUtilisation" [value]="cadre"> {{cadre.cadreUtilisation}} </mat-option>
              </mat-select>
              <mat-error>Le cadre d'utilisation est obligatoire</mat-error>
            </mat-form-field>

            <mat-form-field>
            <mat-label>Date début réservation : </mat-label>

  <input matInput   [matDatepicker]="datepicker1"  formControlName="dateDebutReservation"  required>
  <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
  <mat-datepicker #datepicker1></mat-datepicker>
  <mat-error > 
                  La date de début est <strong>obligatoire</strong>
                </mat-error>
</mat-form-field>

<mat-form-field>
<mat-label>Date fin réservation : </mat-label>

  <input matInput [matDatepicker]="datepicker2" formControlName="dateFinPrevu" required >
  <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
  <mat-datepicker #datepicker2></mat-datepicker>
  <mat-error> 
                  La date de fin est <strong>obligatoire</strong>
                </mat-error>
</mat-form-field>

            <div>
              <button
                class="btn btn-lg btn-primary btn-block"
                id="btnLocForm"
                style="background-color: #ff8000; width: 200px"
                type="submit"  
                routerLink="/page-utilisateur"
              >
                Demande de Réservation
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
