
body {
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navbar-brand{
color: white;
font-weight: bold;
    margin-left: 70px;

}


.boutonsGestion {
    background-color: #ff8000;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    margin-left: 40px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}
h3 {
    font-size: 25px;
    color: #ff8000;
    padding-bottom: 40px;
}



table {
    margin-bottom: 100px;
}

.table-container {
    max-width: 900px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    flex: 0 0 33.33%;
    padding: 10px;
}