<div id="blcMain">


<!-- SIDEMENU -->
<div id="sideMenu">
<p><b>Bonjour {{gestionnaireConnecte?.nomUtilisateur}} {{gestionnaireConnecte?.prenomUtilisateur}}</b></p>
<br><br><br><br>

<a class="linkSideMenu" href=""><img src="assets/sideMenuIcon/computer.svg" alt="computerIcon"/>&nbsp;&nbsp;<b>Gestion du parc</b></a>

<a class="linkSideMenu" href=""><img src="assets/sideMenuIcon/bell-ring.svg" alt="bellRingIcon"/>&nbsp;&nbsp;<b>Alerte</b></a>

<a class="linkSideMenu" href=><img src="assets/sideMenuIcon/handshake.svg" alt="handshakeIcon"/>&nbsp;&nbsp;<b>Louer</b></a>

<a class="linkSideMenu" href=""><img src="assets/sideMenuIcon/user-large-solid.svg" alt="userIcon"/>&nbsp;&nbsp;<b>Ajout Utilisateur</b></a>

<a class="linkSideMenu" href=""><img src="assets/sideMenuIcon/calendar.svg" alt="userIcon"/>&nbsp;&nbsp;<b>Planning</b></a>

<a class="linkSideMenu" href=""><img src="assets/sideMenuIcon/chart-histogram.svg" alt="userIcon"/>&nbsp;&nbsp;<b>Statistiques</b></a>


<a  class="linkSideMenu" id="btnDeco" href=""><img src="assets/sideMenuIcon/du-pouvoir.svg" alt="decoIcon"/>&nbsp;&nbsp;<b>Deconnexion</b></a>
</div>






<!-- DASHBOARD -->
<div id="dashboard"></div>

</div>
