h1 {
    color: white;
}

mat-form-field {
    margin-bottom: 30px;
}

ody {

    height: auto;
}

mat-error {
    display: inline-block;
}


#mainForm {
    width: 300px;
}

#btnLocForm {
    border: 0px;
    border-radius: 3px;
    width: fit-content;

}

mat-error {
    display: inline-block;
}


#mainForm {
    width: 300px;
}

#btnLocForm {
    border: 0px;
    border-radius: 3px;
    width: fit-content;

}